## New Tricks

### 1. `group_by %>% mutate` is equivalent to `merge((group_by %>% summarise), df)`

In [19]:
library(dplyr)
head(mtcars, 3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [20]:
d1 <- group_by(mtcars, cyl) %>% mutate(mean_mpg = mean(mpg, na.rm = T))
head(d1, 3)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb mean_mpg
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    19.74286
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    19.74286
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    26.66364

### 2. group_indices(mtcars, cyl)

In [21]:
# must be `ungroup`ed before appling `group_indices`
d1 %>% ungroup %>% group_indices(cyl) %>% head(3)

[1] 2 2 1

In [23]:
d2 <- mtcars %>% mutate(group_id = group_indices(mtcars,cyl))
unique(d2[, c("cyl", "group_id")])

  cyl group_id
1 6   2
3 4   1
5 8   3

### 3. set plot size globally in jupyter notebook

In [24]:
library(repr)

# Change plot size to 4 x 3
options(repr.plot.width = 4, repr.plot.height = 3)