http://dplyr.tidyverse.org/reference/tally.html

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# tally() is short-hand for summarise()
mtcars %>% tally()

  n
1 32

In [4]:
# count() is a short-hand for group_by() + tally()
mtcars %>% count(cyl)

  cyl n
1 4   11
2 6    7
3 8   14

In [7]:
# add_tally() is short-hand for mutate()
mtcars %>% add_tally() %>% head(1)

  mpg cyl disp hp  drat wt   qsec  vs am gear carb n
1 21  6   160  110 3.9  2.62 16.46 0  1  4    4    32

In [9]:
mtcars %>% add_count(cyl) %>% head(1)

  mpg cyl disp hp  drat wt   qsec  vs am gear carb n
1 21  6   160  110 3.9  2.62 16.46 0  1  4    4    7

In [11]:
# count and tally are designed so that you can call
# them repeatedly, each time rolling up a level of detail
species <- starwars %>% count(species, homeworld, sort = TRUE)
species %>% head(2)

  species homeworld n
1 Human   Tatooine  8
2 Human   Naboo     5

In [13]:
species %>% count(species, sort = TRUE) %>% head(2)

  species nn
1 Human   16
2 Droid    3

In [15]:
# add_count() is useful for groupwise filtering
# e.g.: show only species that have a single member
starwars %>%
  add_count(species) %>%
  filter(n == 1) %>% head(2)

  name                  height mass hair_color skin_color       eye_color
1 Greedo                173      74 NA         green            black
2 Jabba Desilijic Tiure 175    1358 NA         green-tan, brown orange
  birth_year gender        homeworld species
1  44        male          Rodia     Rodian
2 600        hermaphrodite Nal Hutta Hutt
  films                                                      vehicles starships
1 A New Hope
2 The Phantom Menace, Return of the Jedi, A New Hope
  n
1 1
2 1